.container {
  max-width: 1920px;
  padding: 64px 32px;
}
.firstWrapper {
  border: 3px solid grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}
.image {
  margin-top: 12px;
  width: 100px;
}
.textName {
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 12px 0;
}
.text {
  margin: 4px 0;
  color: grey;
  font-weight: 600;
}
.statsList {
  width: 100%;
  padding: 0 24px;
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  background-color: #f3f3f3;
  border-radius: 14px;
  overflow: hidden;
}
.statsName {
  font-weight: 500;
  color: black;
}
.statsSpan {
  font-weight: 600;
  font-size: 16px;
  color: black;
}
.statsItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  border-right: 2px solid grey;
  padding-right: 24px;
}

.statsItem:last-child {
  border-right: none; /* Убираем линию у последнего элемента */
  border-top: none; /* Убираем линию у последнего элемента */
}
